@tailwind base;
@tailwind components;
@tailwind utilities;

.parallax{
    background-image: url("/img/hero.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}